@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(240, 240, 240);
    font-family: 'Commissioner', sans-serif;
}

nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.8rem;
    z-index: 11;
}

.nav__dropdown {
    display: none;
    position: absolute;
    background: white;
    width: 90%;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: .5rem;
    list-style-type: none;
    z-index: 11;
    animation: dropdown-roll;
    animation-duration:.5s;
}

@keyframes dropdown-roll {
    0% {
       height: 0; 
       opacity: 0;
    }
    40% {
        opacity: 0;
    }

    100% {
        height: 13.2rem;
        opacity: 1;
    }
}

.nav__dropdown-link {
    padding: 1.5rem;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__dropdown-link a {
    text-decoration: none;
    color: black;
}

.nav__dropdown hr {
    border-top: lightgray;
}

.hamburger {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    background-image: url('./images/icon-hamburger.svg');
    background-position: center;
    background-size: cover;
    border: none;
}

@keyframes hamburger-animation {
    from{transform: rotate(0deg)};
    to{transform: rotate(90deg)};
  }

.hamburger-active {
    background-image: url('./images/icon-hamburger-close.svg');
    background-position: center;
    background-size: cover;
    width: 1rem;
    height: 1rem;
    transform: rotate(90deg);
    animation-name: hamburger-animation;
    animation-duration: 1s;
}

.logo {
    width: 9rem;
}

.hero {
    background: url('./images/image-hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.product {
    position: relative;
    width: 86%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: white;
    margin: -5.2rem auto;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: 1px 1px 1px rgb(231, 231, 231);
}

.product__logo{
    position: absolute;
    top: -1.8rem;
}

.product__name {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 1.5rem;
}

.product__description {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(128, 128, 128, 0.8);
    margin-top: 1.5rem;
    line-height: 2rem;
}

.product__cta {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}

.product__cta-backbtn {
    width: 12rem;
    height: 3.2rem;
    border-radius: 2rem;
    color: white;
    background-color: #42b1aa;
    border: none;
    font-size: .9rem;
    font-weight: 700;
}
.product__cta-bookmark {
    border: none;
    background: none;
    padding-left: 1rem;
}
.product__cta-bookmark img {
    height: 3.2rem;
}

.backers {
    position: relative;
    top: 7rem;
    width: 86%;
    margin: auto;
    text-align: center;
    background: white;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: 1px 1px 1px rgb(231, 231, 231);
}

.backers hr {
    margin: 1rem auto;
    width: 4rem;
    text-align: center;
    border-top: 1px solid rgba(128, 128, 128, 0.8);
}

.backers__main {
    font-size: 2rem;
}

.backers__sub {
    font-weight: 400;
    font-size: 1rem;
    color: rgba(128, 128, 128, 0.8);
    margin-top: .5rem;
}

.backers__progress{
    margin-top: 1.5rem;
    width: 100%;
    height: 0.8rem
}

.backers__progress-inner {
    position: relative;
    width: 70%;
    height: .8rem;
    background: #42b1aa;
    border-radius: 1rem;
}
.backers__progress-outer {
    position: absolute;
    width: 80%;
    background: rgba(228, 228, 228, 0.733);
    height: .8rem;
    border-radius: 1rem;
}

.about {
    position: relative;
    top: 7rem;
    width: 86%;
    margin: 2rem auto 12rem auto;
    background: white;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: 1px 1px 1px rgb(231, 231, 231);
}

.about__title {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about__main {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(128, 128, 128, 0.8);
    line-height: 2rem;
    margin-bottom: 2rem;
}

.about__card, .about__card-soldout {
    border: 1px solid rgb(231, 231, 231);
    border-radius: .5rem;
    box-shadow: 1px 1px 1px rgb(231, 231, 231);
    padding: 1rem;
    margin-bottom: 1.5rem;
}


.about__card-pledge{

    color: #42b1aa;
    margin: .5rem 0 1.5rem 0;
}

.about__card-description {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(128, 128, 128, 0.8);
    line-height: 2rem;
    margin-bottom: 2rem;
}

.about__card-remaining {
    margin: 2rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.about__card-remaining {
    color: rgba(128, 128, 128, 0.8);
}

.about__card-remaining__n {
    font-size: 2rem; 
    font-weight: 700;
    margin-right: .5rem;
    color: black;
}

.about__card-btn {
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    color: white;
    background-color: #42b1aa;
    border: none;
    font-size: .9rem;
    font-weight: 700;
    margin-top: 2rem;
}

.about__card-soldout {
    opacity: 0.7;
}

.about__card-soldout button {
    background: rgb(136, 156, 175);
}

.overlay {
    display: none;
    width: 100vw;
    height: 100%;
    z-index: 10;
    background-color: black;
    position: fixed;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    animation: overlay-fade;
    animation-duration: .5s;
}


@keyframes overlay-fade {
    from{ opacity: 0};
    top { opacity: 0.4};
}

@media only screen and (min-width: 600px) { 
    .hero {
        background: url('./images/image-hero-desktop.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 50vh;
    }
  }
